<ng-container *ngIf="eventDetails; else noEventDataTemplate">
	<div fxLayout="row" fxLayoutAlign="start center">
		<h2 fxFlex class="mat-display-1">{{eventDetails.information.title}}</h2>
		<button mat-raised-button color="primary" *ngIf="currentUserId === eventDetails.information.organizerId" [routerLink]="['/EditEvent', eventId]">Editieren</button>
	</div>
	<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Details zum Event</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<event-info-display [info]="eventDetails.information"></event-info-display>
			</mat-card-content>
			<mat-card-actions>
				<ng-container *ngIf="eventDetails.information.currentUserDoesParticipate; else notParticipatingTemplate">
					<button mat-raised-button (click)="leaveEvent()" color="warn" type="button">
						Verlassen
					</button>
				</ng-container>
				<ng-template #notParticipatingTemplate>
					<button mat-raised-button (click)="joinEvent()" color="primary" type="button">
						Teilnehmen
					</button>
				</ng-template>
			</mat-card-actions>
		</mat-card>
		<mat-card>
			<mat-card-header>
				<mat-card-title>Termine</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div *ngIf="eventDetails.upcomingAppointments.length === 0; else eventListTemplate">
					Keine bevorstehenden Termine
				</div>
				<ng-template #eventListTemplate>
					<mat-accordion>
						<mat-expansion-panel *ngFor="let appointment of eventDetails.upcomingAppointments; let i = index" [expanded]="i === 0">
							<mat-expansion-panel-header>
								<mat-panel-title>
									{{appointment.appointmentInformation.startTime | date:'medium'}}
								</mat-panel-title>
								<mat-panel-description fxFlex="nogrow" fxLayoutAlign="stretch center">
									<appointment-participation [readonly]="false" [currentResponse]="appointment.appointmentInformation.currentResponse"
									[participantId]="currentUserId" [appointmentId]="appointment.appointmentInformation.appointmentId"
									(selectedNewResponse)="loadEventDetails()"></appointment-participation>
								</mat-panel-description>
							</mat-expansion-panel-header>
							<div>
								<appointment-participant-table [participants]="appointment.participations" [allowChange]="false" [appointment]="appointment.appointmentInformation"></appointment-participant-table>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</ng-template>
			</mat-card-content>
		</mat-card>
		<mat-card *ngIf="eventDetails.information.currentUserDoesParticipate">
			<mat-card-header>
				<mat-card-title>Notifikationen</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<edit-notifications #editNotifications [notifications]="eventDetails.notificationConfigurationResponse" [eventInfo]="eventDetails.information"></edit-notifications>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button (click)="setNotifications(editNotifications.updatedNotifications)" color="primary" type="button">
					Speichern
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
</ng-container>
<ng-template #noEventDataTemplate>
	Daten des Events konnten nicht geladen werden.
</ng-template>
