<ng-container *ngIf="eventDetails; else noEventDataTemplate">
	<div fxLayout="row" fxLayoutAlign="start center">
		<main-title fxFlex>{{eventDetails.information.title}}</main-title>
		<button mat-raised-button color="primary" *ngIf="isOrganizingEvent" [routerLink]="['/EditEvent', eventId]">Editieren</button>
	</div>
	<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Details zum Event</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<event-info-display [info]="eventDetails.information"></event-info-display>
			</mat-card-content>
			<mat-card-actions>
				<ng-container *ngIf="currentUserDoesParticipate; else notParticipatingTemplate">
					<button mat-raised-button (click)="leaveEvent()" color="warn" type="button">
						Verlassen
					</button>
				</ng-container>
				<ng-template #notParticipatingTemplate>
					<button mat-raised-button (click)="joinEvent()" color="primary" type="button">
						Teilnehmen
					</button>
				</ng-template>
			</mat-card-actions>
		</mat-card>
		<mat-card>
			<mat-card-header>
				<mat-card-title>Termine</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div *ngIf="eventDetails.upcomingAppointments.length === 0; else eventListTemplate">
					Keine bevorstehenden Termine
				</div>
				<ng-template #eventListTemplate>
					<mat-accordion>
						<mat-expansion-panel *ngFor="let appointment of eventDetails.upcomingAppointments; index as i; trackBy: getAppointmentId" [expanded]="i === 0">
							<mat-expansion-panel-header>
								<mat-panel-title>
									{{appointment.startTime | date:'short'}}
								</mat-panel-title>
								<mat-panel-description fxHide.lt-md fxLayoutAlign="stretch center">
									<appointment-participation-summary [eventParticipants]="eventDetails.information.participants" [givenAnswers]="appointment.participations" orientation="row"></appointment-participation-summary>
								</mat-panel-description>
								<div fxFlex="nogrow">
									<appointment-participation [readonly]="false" [currentResponse]="getCurrentResponse(appointment)"
										[participantId]="currentSession.userId" [appointmentId]="appointment.appointmentId"
										(selectedNewResponse)="setNewAnswer(appointment, currentSession.userId, $event)"></appointment-participation>
								</div>
							</mat-expansion-panel-header>
							<ng-template matExpansionPanelContent>
								<appointment-participant-table [eventParticipants]="eventDetails.information.participants" [givenAnswers]="appointment.participations" [isOrganizingEvent]="isOrganizingEvent"
									[appointment]="appointment" (updatedResponse)="setNewAnswer(appointment, $event.participantId, $event.newAnswer)"></appointment-participant-table>
							</ng-template>
						</mat-expansion-panel>
					</mat-accordion>
				</ng-template>
			</mat-card-content>
		</mat-card>
		<ng-container *ngIf="currentUserDoesParticipate">
			<mat-card>
				<mat-card-header>
					<mat-card-title>Notifikationen</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<edit-notifications #editNotifications [notifications]="eventDetails.notificationConfigurationResponse" [eventInfo]="eventDetails.information"></edit-notifications>
				</mat-card-content>
				<mat-card-actions>
					<button mat-raised-button [disabled]="!editNotifications.formValid" (click)="setNotifications(editNotifications.updatedNotifications)" color="primary" type="button">
						Speichern
					</button>
				</mat-card-actions>
			</mat-card>
			<mat-card>
				<mat-card-header>
					<mat-card-title>Event-Chat</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<event-chat [eventId]="eventId"></event-chat>
				</mat-card-content>
			</mat-card>
		</ng-container>
	</div>
</ng-container>
<ng-template #noEventDataTemplate>
	Daten des Events konnten nicht geladen werden.
</ng-template>
