<mat-table [dataSource]="dataSource" matSort>
	<!-- Name Column -->
	<ng-container matColumnDef="participantName">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
		<mat-cell *matCellDef="let element">
			{{element.participantName}}
		</mat-cell>
	</ng-container>

	<!-- Email Column -->
	<ng-container matColumnDef="participantEmail">
		<mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail-Adresse</mat-header-cell>
		<mat-cell *matCellDef="let element">
			{{element.participantEmail}}
		</mat-cell>
	</ng-container>

	<!-- Action Column -->
	<ng-container matColumnDef="action">
		<mat-header-cell *matHeaderCellDef>Aktion</mat-header-cell>
		<mat-cell *matCellDef="let element">
			<button mat-button color="warn" (click)="removeFromEvent(element.participantId)">Entfernen</button>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>