@import 'palettes';

@mixin number-style() {
	font-weight: bold;
}

.accepted {
	@include number-style();
	color: $response-accepted;
}

.declined {
	@include number-style();
	color: $response-declined;
}

.not-answered {
	@include number-style();
	color: $response-not-answered;
}