<log4net>
	<!-- appender for Visual Studio and Azure console output -->
	<appender name="ConsoleAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern"
						 value="%utcdate [%3thread] %-5level %-60logger [%3property{UserId} | %8property{SessionToken}] %message%newline" />
		</layout>
	</appender>
	<!-- appender for general log file -->
	<appender name="AllRollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="%property{LogFileDirectory}\HeyImIn-All.log" />
		<appendToFile value="true" />
		<encoding value="utf-8" />
		<!-- up to 5 files are allowed, each 20 megabytes in size -->
		<maximumFileSize value="20MB" />
		<maxSizeRollBackups value="5" />
		<!-- true means keep the .log extension of the rolled files -->
		<preserveLogFileNameExtension value="true" />
		<rollingStyle value="Size" />
		<!-- true means: always log to Logfile.log / false means: log to something like Logfile-20171130.0.log -->
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern"
						 value="%utcdate [%3thread] %-5level %-70logger [%3property{UserId} | %8property{SessionToken}] %message%newline" />
		</layout>
	</appender>
	<!-- appender for audit log file -->
	<appender name="AuditRollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="%property{LogFileDirectory}\HeyImIn-Audit.log" />
		<appendToFile value="true" />
		<!-- filenames end with the year and month, e.g. Audit-201803.log -->
		<datePattern value="-yyyyMM" />
		<encoding value="utf-8" />
		<!-- delete logfiles older than 7 months -->
		<maxSizeRollBackups value="7" />
		<!-- true means keep the .log extension of the rolled files -->
		<preserveLogFileNameExtension value="true" />
		<rollingStyle value="Date" />
		<!-- true means: always log to Logfile.log / false means: log to something like Logfile-20171130.0.log -->
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<!-- Same pattern as main log without the logger setting, as the logger would always be AuditLogger -->
			<param name="ConversionPattern"
						 value="%utcdate [%3thread] %-5level [%3property{UserId} | %8property{SessionToken}] %message%newline" />
		</layout>
	</appender>

	<!-- the logger specifically for audit messages, which will also be logged to the general log file -->
	<logger name="AuditLogger">
		<level value="ALL" />
		<appender-ref ref="AuditRollingFileAppender" />
	</logger>

	<root>
		<!-- options are "ALL", "DEBUG", "INFO", "WARN", "ERROR", "FATAL" and "OFF" -->
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="AllRollingFileAppender" />
	</root>
</log4net>