<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
	<form [formGroup]="userDataForm">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Persönliche Daten</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
					<mat-form-field>
						<input matInput placeholder="Vollständiger Name" formControlName="nameCtrl" required autocomplete="name">
						<mat-error *ngIf="	userDataForm.get('nameCtrl').hasError('required') ||
											userDataForm.get('nameCtrl').hasError('maxlength')">
							Bitte geben Sie einen Namen mit maximal 40 Zeichen ein
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="E-Mail-Adresse" formControlName="mailCtrl" required autocomplete="email" type="email">
						<mat-error *ngIf="	userDataForm.get('mailCtrl').hasError('required') ||
											userDataForm.get('mailCtrl').hasError('email') ||
											userDataForm.get('mailCtrl').hasError('maxlength')">
							Bitte geben Sie eine gültige E-Mail-Adresse mit maximal 40 Zeichen ein
						</mat-error>
					</mat-form-field>
				</div>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button [disabled]="userDataForm.pristine || !userDataForm.valid" (click)="setUserData()" color="primary" type="submit">
					Speichern
				</button>
			</mat-card-actions>
		</mat-card>
	</form>
	<form [formGroup]="passwordForm">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Password</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
					<mat-form-field>
						<input matInput placeholder="Jetziges Passwort" formControlName="currentPasswordCtrl" required type="password" autocomplete="current-password">
						<mat-error *ngIf="passwordForm.get('currentPasswordCtrl').hasError('required')">
							Bitte geben Sie Ihr jetziges Passwort ein
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="Neues Passwort" formControlName="newPasswordCtrl" required type="password" autocomplete="new-password">
						<mat-error *ngIf="passwordForm.get('newPasswordCtrl').hasError('required')">
							Bitte geben Sie Ihr neues Passwort ein
						</mat-error>
					</mat-form-field>
				</div>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button [disabled]="passwordForm.pristine || !passwordForm.valid" (click)="changePassword()" color="primary" type="submit">
					Speichern
				</button>
			</mat-card-actions>
		</mat-card>
	</form>
	<button mat-raised-button (click)="logOut()">Abmelden</button>
	<button mat-raised-button color="warn" (click)="deleteProfile()">Profil löschen</button>
</div>