<div fxFlex="1 1 auto" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="20px">
	<div fxFlex.gt-xs="noshrink" fxFlex.xs="initial" fxLayout="column" fxLayoutGap="5px">
		<div>
			<b>Organisator</b>
			<div>{{info.organizerName}}</div>
		</div>
		<div>
			<b>Treffpunkt</b>
			<div>{{info.meetingPlace}}</div>
		</div>
		<div>
			<b>{{info.totalParticipants}} Teilnehmer</b>
		</div>
	</div>
	<div fxFlex.gt-xs="1 1 auto" fxFlex.xs="initial" fxLayout="column">
		<b>Beschreibung</b>
		<div class="description-container">{{info.description}}</div>
	</div>
</div>