<h2 mat-dialog-title>Neuen Organisator setzen</h2>
<mat-dialog-content>
	<mat-form-field>
		<mat-label>Neuer Organisator</mat-label>
		<mat-select #organizerSelect>
			<mat-option *ngFor="let participant of parameter.participants" [value]="participant.userId">
				{{participant.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button mat-dialog-close>Abbrechen</button>
	<button mat-raised-button [mat-dialog-close]="organizerSelect.value" [disabled]="!organizerSelect.value" color="warn">Als Organisator festlegen</button>
</mat-dialog-actions>
