<h2 mat-dialog-title>Termine hinzufügen</h2>
<mat-dialog-content>
	<mat-form-field fxFlex>
		<textarea matInput matTextareaAutosize [(ngModel)]="inputDates" required [formControl]="datesCtrl"></textarea>
		<mat-placeholder>Bsp. {{exampleDate}}</mat-placeholder>
		<mat-hint align="end">Mehrere Termine durch Zeilenumbruch trennen</mat-hint>
		<mat-error *ngIf="!datesCtrl.valid">
			Ungültige Eingabe
		</mat-error>
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button mat-dialog-close>Abbrechen</button>
	<button mat-raised-button (click)="parseAndReturnDates()" color="primary">Ja</button>
</mat-dialog-actions>
