<div fxLayout="column" fxLayoutGap="20px">
	<mat-form-field fxFlex>
		<mat-label>Hinterlasse eine Nachricht</mat-label>
		<textarea matInput cdkTextareaAutosize [formControl]="chatMessageCtrl"></textarea>
		<mat-hint align="end">{{chatMessageCtrl.value.length}} / 250</mat-hint>
		<button mat-icon-button matSuffix type="button" color="accent" [disabled]="!chatMessageCtrl.valid || !chatMessageCtrl.value" (click)="sendChatMessage()">
			<mat-icon aria-label="Senden">send</mat-icon>
		</button>
		<mat-error *ngIf="chatMessageCtrl.hasError('maxlength')">
			Bitte geben Sie eine Nachricht mit maximal 250 Zeichen ein
		</mat-error>
	</mat-form-field>
	<div class="chat-messages-container" fxLayout="column">
		<mat-card *ngFor="let message of chatMessages | async; trackBy: getChatMessageId" class="chat-message">
			<mat-card-header>
				<!-- TODO Profile picture
					<img mat-card-avatar [src]="authorProfilePicture"></img>
				-->
				<mat-card-subtitle *ngIf="getUserData$(message.authorId) | async as author">
					{{author.name}} @ {{message.sentDate | date:'medium'}}
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				{{message.content}}
			</mat-card-content>
		</mat-card>
		<button mat-button color="primary" (click)="loadPreviousChatMessages()" *ngIf="hasMoreMessages | async">Frühere Nachrichten laden</button>
	</div>
</div>
