<mat-vertical-stepper [linear]="true" #stepper>
	<mat-step [stepControl]="requestTokenForm" [optional]="true">
		<form [formGroup]="requestTokenForm">
			<ng-template matStepLabel>Code anfordern</ng-template>
			<div>
				<mat-form-field fxFlex>
					<input matInput placeholder="E-Mail-Adresse" formControlName="mailCtrl" required type="email">
					<mat-error *ngIf="	requestTokenForm.get('mailCtrl').hasError('required') ||
										requestTokenForm.get('mailCtrl').hasError('email') ||
										requestTokenForm.get('mailCtrl').hasError('maxlength')">
						Bitte geben Sie eine gültige E-Mail-Adresse mit maximal 40 Zeichen ein
					</mat-error>
				</mat-form-field>
			</div>
			<div>
				<button mat-raised-button (click)="requestResetCode()" color="primary" [disabled]="!requestTokenForm.valid">Code anfordern</button>
				<button mat-button matStepperNext>Bereits Code erhalten</button>
			</div>
		</form>
	</mat-step>
	<mat-step [stepControl]="setNewPasswordForm">
		<form [formGroup]="setNewPasswordForm">
			<ng-template matStepLabel>Neues Passwort setzen</ng-template>
			<div fxLayout="column" fxLayoutGap="10px">
				<mat-form-field>
					<input matInput placeholder="Code" formControlName="codeCtrl" required>
					<mat-error *ngIf="setNewPasswordForm.get('codeCtrl').hasError('required') || setNewPasswordForm.get('codeCtrl').hasError('pattern')">
						Bitte geben Sie den gültigen Coden ein, den Sie per E-Mail erhalten haben
					</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput placeholder="Neues Passwort" formControlName="passwordCtrl" required type="password">
					<mat-error *ngIf="setNewPasswordForm.get('passwordCtrl').hasError('required')">
						Bitte geben Sie Ihr neues Passwort ein
					</mat-error>
				</mat-form-field>
				<div>
					<button mat-button matStepperPrevious>Code nicht erhalten?</button>
					<button color="primary" mat-raised-button (click)="resetPassword()" [disabled]="!setNewPasswordForm.valid">Passwort setzen</button>
				</div>
			</div>
		</form>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Anmelden</ng-template>
		Dein Passwort wurde zurückgesetzt und kann nun <a href="">zum Anmelden</a> verwendet werden.
	</mat-step>
</mat-vertical-stepper>