<?xml version="1.0"?>

<configuration>

	<system.webServer>
		<handlers>
			<clear />
			<add 
				name="StaticFile" 
				path="*" verb="*" 
				modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" 
				resourceType="Either" 
				requireAccess="Read" />
		</handlers>
		
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="index.html" />
			</files>
		</defaultDocument>

		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>

		<urlCompression doStaticCompression="true" />
	</system.webServer>

</configuration>