<div fxLayout.lt-sm="column" fxLayout.gt-sm="row">
	<div fxFlex="nogrow" class="sum-container" ngClass.gt-xs="large-sum-container">
		<appointment-participation-summary [eventParticipants]="eventParticipants" [givenAnswers]="givenAnswers" orientation="column"></appointment-participation-summary>
	</div>
	<mat-table class="mat-elevation-z2" fxFlex [dataSource]="dataSource" matSort [trackBy]="getUserId">
		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Teilnehmer</mat-header-cell>
			<mat-cell *matCellDef="let element">
				{{element.name}}
			</mat-cell>
		</ng-container>

		<!-- Response Column -->
		<ng-container matColumnDef="response">
			<mat-header-cell *matHeaderCellDef>Antwort</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<appointment-participation [readonly]="!isOrganizingEvent && element.userId !== currentUserId" [currentResponse]="findGivenAnswer(element.userId)"
				[appointmentId]="appointment.appointmentId" [participantId]="element.userId"
				(selectedNewResponse)="setResponse(element.userId, $event)"></appointment-participation>
			</mat-cell>
		</ng-container>
	
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>