<div [class.readonly]="readonly" [class.editable]="!readonly"
	ngClass.xs="small" ngClass.sm="medium" ngClass.gt-sm="large"
	fxLayout="row" fxLayoutAlign="start center">
	<button mat-icon-button [class.accepted]="accepted" (click)="accept($event)">
		<mat-icon>check_circle</mat-icon>
	</button>
	<button mat-icon-button [class.declined]="declined" (click)="decline($event)">
		<mat-icon>remove_circle</mat-icon>
	</button>
	<button mat-icon-button [class.not-answered]="noAnswer" (click)="removeAnswer($event)">
		<mat-icon>help</mat-icon>
	</button>
</div>