@import '~styles/palettes';

// Not active button colors
.readonly {
	color: gray;
}

.editable {
	color: black;
}

// Active button colors
.accepted {
	color: $response-accepted;
}

.declined {
	color: $response-declined;
}

.not-answered {
	color: $response-not-answered;
}

@mixin icon-button-dimensions($size) {
	height: $size;
	width: $size;
	line-height: $size;
}

$button-base-size: 40px;

.large > .mat-icon-button {
	@include icon-button-dimensions($button-base-size)
}

.medium > .mat-icon-button {
	@include icon-button-dimensions($button-base-size - 5px)
}

.small > .mat-icon-button {
	@include icon-button-dimensions($button-base-size - 10px)
}