<ng-container *ngIf="eventDetails; else noEventDataTemplate">
	<div fxLayout="row" fxLayoutAlign="start center">
		<main-title fxFlex>{{eventDetails.information.title}}</main-title>
		<button mat-raised-button [routerLink]="['/ViewEvent', eventId]">Standardansicht</button>
	</div>
	<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Details zum Event</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<edit-general-event-info #eventInfoEdit [eventInfo]="eventDetails.information"></edit-general-event-info>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button (click)="deleteEvent()" color="warn" type="button">
					Löschen
				</button>
				<button mat-raised-button [disabled]="!eventInfoEdit.formValid" (click)="saveEvent(eventInfoEdit.updatedEventInfo)" color="primary" type="button">
					Speichern
				</button>
			</mat-card-actions>
		</mat-card>
		<mat-card>
			<mat-card-header>
				<mat-card-title>Termine</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<mat-accordion>
					<mat-expansion-panel *ngFor="let appointment of eventDetails.upcomingAppointments; index as i; trackBy: getAppointmentId" [expanded]="i === 0">
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{appointment.startTime | date:'short'}}
							</mat-panel-title>
						</mat-expansion-panel-header>
						<ng-template matExpansionPanelContent>
							<appointment-participant-table [eventParticipants]="eventDetails.participants" [givenAnswers]="appointment.participations" [isOrganizingEvent]="true" [appointment]="appointment"
							(updatedResponse)="setNewAnswer(appointment, $event.participantId, $event.newAnswer)"></appointment-participant-table>
						</ng-template>
						<mat-action-row>
							<button mat-raised-button (click)="cancelAppointment(appointment.appointmentId)" color="warn">Absagen</button>
						</mat-action-row>
					</mat-expansion-panel>
				</mat-accordion>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button (click)="addAppointments()" color="primary" type="button">
					Termine hinzufügen
				</button>
			</mat-card-actions>
		</mat-card>
		<mat-card>
			<mat-card-header>
				<mat-card-title>Teilnehmer</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<manage-event-participants-table [participants]="eventDetails.participants" [eventId]="eventId"
					(removedParticipant)="loadEventDetails()"></manage-event-participants-table>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button (click)="inviteParticipants()" color="primary" type="button">
					Teilnehmer einladen
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
</ng-container>
<ng-template #noEventDataTemplate>
	Daten des Events konnten nicht geladen werden.
</ng-template>
