<form [formGroup]="form">
	<main-title>Registrieren</main-title>
	<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
		<mat-form-field>
			<input matInput placeholder="Vollständiger Name" formControlName="nameCtrl" required autocomplete="name">
			<mat-error *ngIf="	form.get('nameCtrl').hasError('required') ||
								form.get('nameCtrl').hasError('minlength') ||
								form.get('nameCtrl').hasError('maxlength')">
				Bitte geben Sie einen Namen mit maximal 40 Zeichen ein
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="E-Mail-Adresse" formControlName="mailCtrl" required autocomplete="email" type="email">
			<mat-error *ngIf="	form.get('mailCtrl').hasError('required') ||
								form.get('mailCtrl').hasError('email') ||
								form.get('mailCtrl').hasError('maxlength')">
				Bitte geben Sie eine gültige E-Mail-Adresse mit maximal 40 Zeichen ein
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Passwort" formControlName="passwordCtrl" required type="password" autocomplete="new-password">
			<mat-error *ngIf="form.get('passwordCtrl').hasError('required')">
				Bitte geben Sie ein Passwort ein
			</mat-error>
		</mat-form-field>

		<button mat-raised-button [disabled]="!form.valid" (click)="register()" color="primary" type="submit">
			Registrieren
		</button>
	</div>
</form>