@import '~styles/palettes';

// Navigation bar itself => Inspired by HappyMeter
$logo-margin: 5px;
$menu-margin: 6px;

.app-toolbar {
	color: white !important;
	text-transform: uppercase;
	text-align: center;
	z-index: 10;
	position: relative;
}

.active-link {
	background: map-get($primary, 700);
}

.app-title {
	text-align: left;
	font-weight: bold;
}

.app-logo {
	height: 65%;
	padding: 5px;
	margin: $logo-margin $logo-margin $logo-margin 0;
}

.menu-link {
	min-width: 56px; // 0 Doesn't work in IE11 & Edge
}

.menu-link + .menu-link {
	margin-left: $menu-margin;
}

.has-icon-min-width {
	min-width: 175px;
}

.smaller-menu {
	font-size: small;
}

.nav-flex-div {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.github-mark {
	height: 24px;
}

// Main content wrapper
$content-margin: 16px;
$content-xs-margin: 6px;

.content-wrapper {
	margin: $content-margin;
}

.content-wrapper-xs {
	margin: $content-margin $content-xs-margin;
}

.footer-wrapper {
	margin: 0 $content-margin $content-margin;
}

.footer-wrapper-xs {
	margin: 0 $content-xs-margin $content-xs-margin;
}

.layout-wrapper {
	min-height: 100vh;
}